<section>
  <header class="oui-theme-sapphire">
    <oui-navbar
        fixed
        brand="{
            title: 'OVH UIKit',
            url: '#',
            iconClass: 'oui-icon oui-icon-ovh'
        }"
        main-links="$ctrl.mainLinks">
    </oui-navbar>
  </header>

  <content class="oui-showcase__main">
    <div class="oui-showcase__content">
      <nav class="oui-theme-sapphire oui-list oui-list_nav oui-showcase__sidenav" role="complementary" data-ng-class="{'open': $ctrl.toggle}">
        <ul class="oui-list__items">
          <li class="oui-list__items oui-list__items_group"
              data-ng-repeat="groupKey in $ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].groupsOrder track by $index">
            <span class="oui-list__header"
                  data-ng-if="groupKey === 'undefined'"
                  data-ng-bind="$ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].name"></span>
            <span class="oui-list__header"
                  data-ng-if="groupKey !== 'undefined'"
                  data-ng-bind="$ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].groups[groupKey].name || groupKey"></span>
            <ul class="oui-list__items">
              <li class="oui-list__item"
                  data-ng-repeat="child in $ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].children[groupKey] track by child.state"
                  data-ui-sref-active="oui-list__item_current">
                <button type="button" class="oui-list__link" data-ng-click="$ctrl.onListItemClick(child.state)" data-ng-bind="child.name"></button>
              </li>
              <li class="oui-list__item" data-ng-if="!$ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].groupsOrder.length">
                No children state found under the state {{ $ctrl.currentSecondLevelStateName }}.
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="oui-showcase__section">
        <themes-selector class="oui-showcase__theme-selector" on-change="$ctrl.theme = $event.value"></themes-selector>
        <ui-view data-ng-class="$ctrl.theme" class="oui-showcase__section-content"></ui-view>
      </div>
    </div>
  </content>
</section>
